@model HospitalSystem.Models.PatientListViewModel

@{
    ViewBag.Title = "Hastane Durumu";
}

<h2>Yatan Hastalar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>AdSoyad</th>
            <th>TCno</th>
            <th>Risk Önceliği</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var patient in Model.HospitalizedP)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.TCno</td>
                <td>@patient.Priority</td>
                <td>@patient.Status</td>
                <td>
                    <form asp-action="Delete" asp-controller="Patient" method = "post">
                        <input type = "hidden" name="tcno" value="@patient.TCno">
                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2 class="mt-5">Kritik Bekleyen Hastalar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>TCno</th>
            <th>Risk Önceliği</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var patient in Model.CriticalWaitingP)
    {
        <tr>
            <td>@patient.Name</td>
            <td>@patient.TCno</td>
            <td>@patient.Priority</td>
            <td>@patient.Status</td>
        </tr>
    }
    </tbody>
</table>

<h2 class="mt-5">Normal Bekleyen Hastalar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>TCno</th>
            <th>Risk Önceliği</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var patient in Model.NormalWaitingP)
    {
        <tr>
            <td>@patient.Name</td>
            <td>@patient.TCno</td>
            <td>@patient.Priority</td>
            <td>@patient.Status</td>
        </tr>
    }
    </tbody>
</table>